SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='TRADITIONAL,ALLOW_INVALID_DATES';

DROP SCHEMA IF EXISTS `Siquoia` ;
CREATE SCHEMA IF NOT EXISTS `Siquoia` DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci ;
USE `Siquoia` ;

-- -----------------------------------------------------
-- Table `Siquoia`.`User`
-- -----------------------------------------------------
CREATE  TABLE IF NOT EXISTS `Siquoia`.`User` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Username` VARCHAR(45) NOT NULL ,
  `Password` VARCHAR(50) NOT NULL ,
  `Type` VARCHAR(45) NOT NULL ,
  `Point` INT NOT NULL ,
  PRIMARY KEY (`ID`) ,
  UNIQUE INDEX `Username_UNIQUE` (`Username` ASC) )
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Siquoia`.`Topic`
-- -----------------------------------------------------
CREATE  TABLE IF NOT EXISTS `Siquoia`.`Topic` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Description` VARCHAR(100) NULL ,
  `Parent_ID` BIGINT NULL ,
  `Level` INT NULL ,
  `Type` VARCHAR(45) NOT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Topic_Topic1_idx` (`Parent_ID` ASC) ,
  CONSTRAINT `fk_Topic_Topic1`
    FOREIGN KEY (`Parent_ID` )
    REFERENCES `Siquoia`.`Topic` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Siquoia`.`Multimedia`
-- -----------------------------------------------------
CREATE  TABLE IF NOT EXISTS `Siquoia`.`Multimedia` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Description` VARCHAR(500) NULL ,
  `Type` VARCHAR(45) NULL ,
  PRIMARY KEY (`ID`) )
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Siquoia`.`Question`
-- -----------------------------------------------------
CREATE  TABLE IF NOT EXISTS `Siquoia`.`Question` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Description` VARCHAR(500) NOT NULL ,
  `Answer_C` VARCHAR(300) NULL ,
  `Answer_W1` VARCHAR(300) NULL ,
  `Answer_W2` VARCHAR(300) NULL ,
  `Answer_W3` VARCHAR(300) NULL ,
  `Ranking` INT NOT NULL ,
  `Topic_ID` BIGINT NOT NULL ,
  `Multimedia_ID` BIGINT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Question_Topic1_idx` (`Topic_ID` ASC) ,
  INDEX `fk_Question_Multimedia1_idx` (`Multimedia_ID` ASC) ,
  CONSTRAINT `fk_Question_Topic1`
    FOREIGN KEY (`Topic_ID` )
    REFERENCES `Siquoia`.`Topic` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Question_Multimedia1`
    FOREIGN KEY (`Multimedia_ID` )
    REFERENCES `Siquoia`.`Multimedia` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Siquoia`.`Token`
-- -----------------------------------------------------
CREATE  TABLE IF NOT EXISTS `Siquoia`.`Token` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Code` VARCHAR(45) NOT NULL ,
  `Description` VARCHAR(500) NULL ,
  `Status` VARCHAR(45) NULL ,
  `NumberQuestion` INT NOT NULL ,
  `User_ID` BIGINT NULL ,
  `Topic_ID` BIGINT NOT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Token_User1_idx` (`User_ID` ASC) ,
  INDEX `fk_Token_Topic1_idx` (`Topic_ID` ASC) ,
  CONSTRAINT `fk_Token_User1`
    FOREIGN KEY (`User_ID` )
    REFERENCES `Siquoia`.`User` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Token_Topic1`
    FOREIGN KEY (`Topic_ID` )
    REFERENCES `Siquoia`.`Topic` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Siquoia`.`Point_History`
-- -----------------------------------------------------
CREATE  TABLE IF NOT EXISTS `Siquoia`.`Point_History` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `DateTime` DATETIME NOT NULL ,
  `PointEarned` INT NULL ,
  `PointUsed` INT NULL ,
  `User_ID` BIGINT NOT NULL ,
  `Topic_ID` BIGINT NOT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Point_History_User1_idx` (`User_ID` ASC) ,
  INDEX `fk_Point_History_Topic1_idx` (`Topic_ID` ASC) ,
  CONSTRAINT `fk_Point_History_User1`
    FOREIGN KEY (`User_ID` )
    REFERENCES `Siquoia`.`User` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Point_History_Topic1`
    FOREIGN KEY (`Topic_ID` )
    REFERENCES `Siquoia`.`Topic` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Siquoia`.`Purchase`
-- -----------------------------------------------------
CREATE  TABLE IF NOT EXISTS `Siquoia`.`Purchase` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `DateTime` DATETIME NOT NULL ,
  `Description` VARCHAR(500) NULL ,
  `Type` VARCHAR(45) NULL ,
  `User_ID` BIGINT NOT NULL ,
  `Point_History_ID` BIGINT NOT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Purchase_User1_idx` (`User_ID` ASC) ,
  INDEX `fk_Purchase_Point_History1_idx` (`Point_History_ID` ASC) ,
  CONSTRAINT `fk_Purchase_User1`
    FOREIGN KEY (`User_ID` )
    REFERENCES `Siquoia`.`User` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Purchase_Point_History1`
    FOREIGN KEY (`Point_History_ID` )
    REFERENCES `Siquoia`.`Point_History` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Siquoia`.`Quiz_History`
-- -----------------------------------------------------
CREATE  TABLE IF NOT EXISTS `Siquoia`.`Quiz_History` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `User_ID` BIGINT NOT NULL ,
  `Topic_ID` BIGINT NOT NULL ,
  `Current_QuestionID` BIGINT NOT NULL ,
  `Point` INT NOT NULL ,
  `QuestionList` VARCHAR(500) NOT NULL ,
  `Type` VARCHAR(45) NOT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Quiz_User1_idx` (`User_ID` ASC) ,
  INDEX `fk_Quiz_Topic1_idx` (`Topic_ID` ASC) ,
  CONSTRAINT `fk_Quiz_User1`
    FOREIGN KEY (`User_ID` )
    REFERENCES `Siquoia`.`User` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Quiz_Topic1`
    FOREIGN KEY (`Topic_ID` )
    REFERENCES `Siquoia`.`Topic` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;

USE `Siquoia` ;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

-- Insert Topic

INSERT INTO TOPIC
           (PARENT_ID
           ,DESCRIPTION
           ,LEVEL
		   ,TYPE)
Values
(null,'Social science',1, 'public' ),
(null,'Branded',1 , 'public'),
(null,'Science',1 , 'public'),
(1,'General Knowledge',2, 'public' ),
(4,'Free software',3 , 'public'),
(4,'Capitals',3 , 'public'),
(2,'Test',2 , 'public'),
(7,'DMV',3 , 'public'),
(3,'Math',2, 'public' ),
(9,'Arithmetic',3, 'public' ),
(9,'Algebra',3 , 'public'),
(3,'Biology',2 , 'public'),
(12,'Botany',3 , 'public'),
(12,'Zoology',3, 'public'),
(null,'Demo',1,'private')
;

-- Insert MULTIMEDIA
INSERT INTO MULTIMEDIA
			(DESCRIPTION
			,TYPE)
Values
('./media/image/Flag1.png','image'),			
('./media/video/VideoQuestion.mp4','video'),			
('./media/audio/audio1.mp3','audio')
;			

-- Insert User, Token, Point_History
USE Siquoia;
INSERT INTO USER
           (USERNAME
           ,PASSWORD
           ,TYPE
		   ,POINT)
Values		   
('admin1', 'e00cf25ad42683b3df678c61f42c6bda', 'admin',0),
('user1', '24c9e15e52afc47c225b757e7bee1f9d', 'user',100),
('user2', '7e58d63b60197ceb55a1c487989a3720', 'user',100);

INSERT INTO TOKEN
           (TOPIC_ID
           ,USER_ID
           ,CODE
		   ,STATUS
		   ,DESCRIPTION
		   ,NUMBERQUESTION)
Values		   
(15, null, 'AAAA','','',6),
(11, null, 'BBBB','','',10),
(1, null, 'CCCC','','',20),
(11, null, 'DDDD','','',10),
(3, null, 'ZZZZ','','',10),
(11, null, 'XXXX','','',10);

/*INSERT INTO POINT_HISTORY
			(USER_ID
			,DATETIME
			,POINTEARNED
			,POINTUSED)
Values();*/

-- Insert Question
 -- Insert Question with media
 INSERT INTO QUESTION
           (TOPIC_ID
           ,DESCRIPTION
           ,ANSWER_C
           ,ANSWER_W1
           ,ANSWER_W2
           ,ANSWER_W3
           ,RANKING
		   ,MULTIMEDIA_ID)
VALUES
 ( 15,'This flag belongs to which one of the following countries?','China','India','Canada','Australia',0,1)
 ,( 15,'Where is the quarter?','Under the right cup','Under the middle cup','Under the left cup','Under the table',0,2)
 ,( 15,'Who sings this song?','Taylor Swift','Dianna Agron','Kelleigh Bannen','Jeanne Black',0,3)
;

INSERT INTO Point_History 
			(DateTime
			,PointEarned
			,PointUsed
			,User_ID
			,Topic_ID)
VALUES
('2012-12-31 23:59:59', 0, 20, 2, 5)
,('2012-12-20 23:59:59', 1, 0, 3, 3)
,('2012-12-19 23:59:59', 5, 0, 2, 4)
;

INSERT INTO QUIZ_HISTORY
	(USER_ID,
	TOPIC_ID,
	CURRENT_QUESTIONID,
	POINT,
	QUESTIONLIST,
	TYPE)
VALUES
(2,3,264,2,'254|255|257|259|262|263|264|266|270|276|278|279|282|285|286|289|292|297|298|299','normal')
;			